.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66vh;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.options {
    margin-top: 4px;
    gap: 4px;
    display: flex;
}

input {
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

button {
  background-color: #f1f1f1;
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #dcdcdc;
  color: #333;
}
